<h2>Busquedas</h2>
    <hr>
    <ul class="list-group animate__animated animate__fadeInLeft">
      <li routerLink=""
      routerLinkActive="active animate__animated animate__fadeInLeft animate__faster"
      [routerLinkActiveOptions]="{exact:true}" class="list-group-item">
        Buscar Pais </li>

      <li routerLink="region"
      routerLinkActive="active animate__animated animate__fadeInLeft animate__faster"
      class="list-group-item">Por Region</li>

      <li routerLink="capital"
      routerLinkActive="active animate__animated animate__fadeInLeft animate__faster"
      class="list-group-item "> Por Capital</li>
    </ul>
